
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  background-color:#faf3dd;
  font-family: 'Merriweather', serif;
  }

h1 {
  font-size:5.625rem;   /* 16px =100% = 1em ,'rem'is the cs3  way of writing font-size this is to make your fonts dynamic*/
  margin:0 auto 0 auto;
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size:2.5rem;
  font-weight:bold;
  margin-top: 0;
  color: #66BFBF;
  text-align: center;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-weight: bold;
  font-size:2;
}

p {
    line-height: 2;
}

hr  {
    border: dotted  gray 16px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color:#11999E;
  margin: 10px 20px;
}

a:hover {
  color:#EAF6F6;
}

.top-container {
background-color: #EAF6F6;
position: relative;
padding-top:100px;
}

.middle-container {
   margin: 100px 0;
}

.ios {
 wdth: 50%;
 margin: auto;
}

/*cloud images div*/
.top-cloud {
 position: absolute;
 right: 300px;
 top: 40px;
}

.bottom-cloud {
position: absolute;
left: 250px;
bottom: 300px;
}

.skilled {
  width: 50%;
  float: left;
  margin-right:30px;
}

.hot {
  width: 50%;
  float: right;
  margin-right:30px;
}

.hot {
  width: 50%;
  float: right;
  margin-right:30px;
}

.josh {
  width: 30%;
  clear: right;
  margin-left: 35%;
}

.contact-me {
  width: 40%;
  margin: 40px auto 60px;
}


.profile {
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.skill-row {
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;
}



/* footer links */

.bottom-container {
  background-color:#66BFBF;
  padding: 50px 0 20px;

}


.footer-link {

}

.copyright {
  color: white;
}

.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999B);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999B);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999B);
   background-image: -o-linear-gradient(top, #11CDD4, #11999B);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999B);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   height: 50px;
   line-height: 50px;
   color: #FFFFFF;
   font-family: Open Sans;
   width: 200px;
   font-size: 20px;
   font-weight: 100;
   padding: 8px;
   text-shadow: 1px 1px 20px #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {

   border: outset #337FED 0;
   background: #5CDEC9;
   background-image: -webkit-linear-gradient(top, #5CDEC9, #2BC4AD);
   background-image: -moz-linear-gradient(top, #5CDEC9, #2BC4AD);
   background-image: -ms-linear-gradient(top, #5CDEC9, #2BC4AD);
   background-image: -o-linear-gradient(top, #5CDEC9, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #5CDEC9, #2BC4AD);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}

.copyright {
  color: EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
